.edit_button{
    border: none;
    color: blue;
    text-decoration: underline;
    text-transform: none;
}

.edit_button:hover{
    border: none;
    background-color: transparent;
    text-decoration: underline;
}

.form_container{
    width: 600px;
}

.edit_form_component{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
}

.form_input_textfield {
    border: 2px solid black;
    width: 70%;
    margin: 0 0 0 15px;
}

.form_input_date {
    border: 2px solid black;
    width: 40%;
    margin: 0 0 0 15px;
}
.form_button_section{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.submit_button{
    border: 2px solid black;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    background-color: red;
    color: white;
    width: 150px;
    padding: 3px 0;
}

.cancel_button{
        border: 2px solid black;
        border-right: 4px solid black;
        border-bottom: 4px solid black;
        background-color: gainsboro;
        color: black;
        width: 150px;
        padding: 3px 0;
        margin: 0 0 0 30px;
}